* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;

	font-size: var(--fs-p);
	font-family: var(--ff);
	font-weight: var(--fw-n);
	color: var(--text-clr);
}

.scaffold {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template: 1fr 5fr / 1fr 4fr;
	grid-template-areas:
		'sidebar header'
		'sidebar content';
}

.sidebar {
	grid-area: sidebar;
	display: grid;
	align-content: start;
	gap: var(--spacer-bg);

	background-color: var(--sec-clr);
	color: var(--main-clr);
}

.header {
	grid-area: header;
	display: grid;
	grid-template: 1fr 1fr / 2fr 1fr;
	padding: 0 50px;

	background-color: var(--main-clr);
	box-shadow: var(--shadow);
}

.search-bar-container {
	display: flex;
	align-items: center;
}

#search-bar {
	flex: 1;
}

.profile {
	display: flex;
	align-items: center;
	justify-content: end;
}

.welcome {
	display: grid;
	grid-template: auto 1fr / auto 1fr;
}

.welcome > .profile-picture {
	grid-row: 1 / -1;
}

.post-buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-items: center;
}

.content {
	grid-area: content;
	display: grid;
	grid-template: 1fr 1fr / 3fr 1fr;
	grid-template-areas:
		'projects announcements'
		'projects trending';
	padding: var(--spacer-bg);
	gap: var(--spacer-bg);

	background-color: var(--bg-clr);
	z-index: -1;
}

.projects {
	grid-area: projects;
}

.announcements {
	grid-area: announcements;
}

.trending {
	grid-area: trending;
}

.projects,
.announcements,
.trending {
	display: flex;
	flex-direction: column;
	gap: var(--spacer-sm);
}

.title {
	grid-column: 1 /-1;
}

.projects > .card-container {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: var(--spacer-bg);
}

.card {
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: 5px;
	padding: 5%;

	background-color: var(--main-clr);
	box-shadow: var(--shadow);
	border-radius: var(--br);
	border-left: 8px solid var(--acc-clr);
}

.card-buttons {
	justify-self: end;
}

.announcements > .announcements-container,
.trending > .trending-container {
	flex: 1;
	display: grid;
	padding: var(--spacer-md);
	gap: var(--spacer-sm);

	background-color: var(--main-clr);
	box-shadow: var(--shadow);
	border-radius: var(--br);
}

.announcements-container > .announcement:nth-child(1n + 2) {
	padding-top: var(--spacer-sm);
	border-top: 1px solid var(--bg-clr);
}

.trending-post {
	display: grid;
	grid-template: auto 1fr / auto 1fr;
}

.trending-post > img {
	grid-row: 1 /-1;
}

h3 {
	font-size: var(--fs-h3);
	font-weight: var(--fw-b);
	color: var(--h-clr);
}

h4 {
	font-size: var(--fs-h4);
	font-weight: var(--fw-b);
	color: var(--h-clr);
}

h5 {
	font-size: var(--fs-h5);
	font-weight: var(--fw-b);
	color: var(--h-clr);
}

h6 {
	font-size: var(--fs-p);
	font-weight: calc(var(--fw-n) + 100);
	color: var(--h-clr);
}

@media (max-width: 500px) {
	.scaffold {
		grid-template: auto 1fr / 1fr;
		grid-template-areas:
			'header'
			'content';
	}

	.sidebar {
		visibility: hidden;
	}

	.content {
		grid-template: auto auto 1fr / 1fr;
		grid-template-areas:
			'announcements'
			'trending'
			'projects';
	}

	.projects > .card-container {
		grid-template-columns: 1fr;
	}
}
