* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;

	font-size: var(--fs-p);
	font-family: var(--ff);
	font-weight: var(--fw-n);
	color: var(--text-clr);
}

.scaffold {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template: 1fr 5fr / 1fr 4fr;
	grid-template-areas:
		'sidebar header'
		'sidebar content';
}

.sidebar {
	grid-area: sidebar;
	display: grid;
	align-content: start;
	gap: var(--spacer-bg);

	background-color: var(--sec-clr);
	color: var(--main-clr);
}

.header {
	grid-area: header;
	display: grid;
	grid-template: 1fr 1fr / 2fr 1fr;
	padding: 0 50px;

	background-color: var(--main-clr);
	box-shadow: var(--shadow);
	z-index: 1;
}

.search-bar-container {
	display: flex;
	align-items: center;
}

#search-bar {
	flex: 1;
}

.profile {
	display: flex;
	align-items: center;
	justify-content: end;
}

.welcome {
	display: grid;
	grid-template: auto 1fr / auto 1fr;
}

.welcome > .profile-picture {
	grid-row: 1 / -1;
}

.post-buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-items: center;
}

.content {
	grid-area: content;
	display: grid;
	grid-template: 1fr 1fr / 3fr 1fr;
	grid-template-areas:
		'projects announcements'
		'projects trending';
	padding: var(--spacer-sm);
	gap: var(--spacer-sm);

	background-color: var(--bg-clr);
}

.projects {
	grid-area: projects;
}

.announcements {
	grid-area: announcements;
}

.trending {
	grid-area: trending;
}

.projects,
.announcements,
.trending {
	display: flex;
	flex-direction: column;
}

.title {
	grid-column: 1 /-1;
}

.projects > .card-container {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: var(--spacer-sm);
}

.card {
	background-color: var(--main-clr);
	box-shadow: var(--shadow);
	border-radius: var(--br);
	border-left: 8px solid var(--acc-clr);
}

.announcements > .announcements-container,
.trending > .trending-container {
	flex: 1;
	display: grid;

	background-color: var(--main-clr);
	box-shadow: var(--shadow);
	border-radius: var(--br);
}
