:root {
	--ff: 'system-ui', sans-serif;

	--fw-n: 400;
	--fw-md: 500;
	--fw-b: 700;

	--fs-p: 1rem;
	--fs-h1: 2rem;
	--fs-h2: 1.8rem;
	--fs-h3: 1.45rem;
	--fs-h4: 1.3rem;
	--fs-h5: 1.1rem;
	--fs-logo: 3.5rem;

	--bg-clr: #e2e8f0;
	--main-clr: #ffffff;
	--sec-clr: #4f46e5;
	--acc-clr: #9333ea;

	--text-clr: #686868;
	--h-clr: #040404;

	--spacer-sm: 10px;
	--spacer-md: calc(var(--spacer-sm) * 2);
	--spacer-bg: calc(var(--spacer-sm) * 3);

	--shadow: 3px 5px 7px #18181865;
	--br: 8px;
}

@media (max-width: 500px) {
	:root {
		--fs-h1: 1.4rem;
	}
}
